{% extends 'base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="" method="POST" class="card card-body" enctype="multipart/form-data">
                <h1 class="text-success">Create Recipe</h1>
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Submit">
                <a class="btn btn-primary mt-2"  href="{% url 'recipe-list' %}">Back</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
